@{
    ViewBag.Title = "Home Page";
}
<nav>
    <form class="search">
        <div class="isearch">
            <input type="search" name="q" placeholder="Search" class="inputsearch">
        </div>
    </form>
</nav>

<nav>
    <ul class="nav_buttons">
        <li> <button class="bn navbutt" onclick="goToPage('http://www.index1.ru')" >Game_Development</button> </li>
        <li> <button class="bn navbutt" onclick="goToPage('http://www.index2.ru')" >Soft_Development</button></li>
        <li> <button class="bn navbutt" onclick="goToPage('http://www.index3.ru')" >Comics_Books</button> </li>
    </ul>
    <hr>
</nav>
<section class="regular slider">
    <div><img src="~/Images/1.png" alt=""></div>
    <div><img src="~/Images/2.png" alt=""></div>
    <div><img src="~/Images/3.png" alt=""></div>
    <div><img src="~/Images/4.png" alt=""></div>
    <div><img src="~/Images/5.png" alt=""></div>
    <div><img src="~/Images/6.png" alt=""></div>
    <div><img src="~/Images/7.png" alt=""></div>
    <div><img src="~/Images/8.png" alt=""></div>
</section>
